//es6 rules without the module rules
//webpack will handle this
{
  "presets": [
    [
    "es2015",
    {
      "modules": false
    }],
    "stage-2"
  ],
  "ignore":[
    "node_modules/*"
  ],
  "plugins": ["transform-object-rest-spread"]
}
